@{
    ViewData["Title"] = "Impossible delete this Customer now!";
}
<section>
    <div class="login-box" style="margin:auto; width:800px; height:300px">
        <br />
        <br />
        <br />
                
        <h2>Customer with pet or pets can not by deleted!</h2>
        <br />
        <h3>First you may delete the pet or pets inside the customer!</h3>
    </div>
</section>



