@{
    ViewData["Title"] = "Impossible delete this Customer now!";
}
<section>
    <div class="login-box" style="margin:auto; width:800px; height:300px">
        
        <div class="text-center">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <h2>Customer with pets can not be deleted!!</h2>
            <br />
            <br />
            <h5>First you have to erase the pets!</h5>

        </div>
        
    </div>
</section>



