@model VetClinicACorreia.Web.Models.AppViewModel

@{ ViewData["Title"] = "Edit"; }

<section>
    <div style="margin:auto; width:800px; height:300px">
        <br />
        <br />
        <br />
        <h4>Edit Appointment</h4>
        <hr />
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="card-body">
                <div class="form-group">
                    <div class="row">

                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                                <label asp-for="CustomerId" class="control-label"></label>
                                @*<input asp-for="Customer.User.FullName" asp-items="Model.Customers" class="form-control" readonly="readonly"/>*@
                                <select asp-for="CustomerId" asp-items="Model.Customers" class="form-control"></select>
                                <span asp-validation-for="CustomerId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="PetId" class="control-label"></label>
                                @*<input asp-for="Pet.Name" asp-items="Model.Pets" class="form-control" readonly="readonly" />*@
                                <select asp-for="PetId" asp-items="Model.Pets" class="form-control"></select>
                                <span asp-validation-for="PetId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                                <label asp-for="ServiveTypeId" class="control-label"></label>
                                <select asp-for="ServiveTypeId" asp-items="Model.ServiceTypes" class="form-control"></select>
                                <span asp-validation-for="ServiveTypeId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="AppDate" class="control-label"></label>
                                <input asp-for="AppDate" class="form-control" type="date" />
                                <span asp-validation-for="AppDate" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                                <label asp-for="DoctorId" class="control-label"></label>
                                <select asp-for="DoctorId" asp-items="Model.Doctors" class="form-control"></select>
                                <span asp-validation-for="DoctorId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @*<label asp-for="AppDate" class="control-label"></label>
                                    <input asp-for="AppDate" class="form-control" type="date" />
                                    <span asp-validation-for="AppDate" class="text-danger"></span>*@
                            </div>
                        </div>

                        

                        <div class="form-group">
                            <br />
                            <input type="submit" value="Save" class="btn btn-success" />
                        </div>
                        <div class="form-group">
                            <br />
                            <a asp-action="Index" class="btn btn-primary">Back to List</a>
                        </div>
                    </div>
                </div>
                <div class="text-success">
                    <p>
                        @ViewBag.Message
                    </p>
                </div>
                
            </div>
            </form>
    </div>

</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*<script type="text/javascript">
    	$(document).ready(function () {
        	$("#CustomerId").change(function () {
            	$("#PetId").empty();
            	$.ajax({
                	type: 'POST',
                	url: '@Url.Action("GetPetsAsync")',
                	dataType: 'json',
                	data: { customerId: $("#CustomerId").val() },
                	success: function (pets) {
                        $("#PetId").append('<option value="0">(Select a pet mmo...)</option>');
                        pets.map(pet =>
                            $("#PetId").append('<option value="'
                            	+ pet.id + '">'
                            	+ pet.name + '</option>'));
                	},
                	error: function (ex) {
                    	alert('Failed to retrieve pets. ohhhhh' + ex.statusText);
                	}
            	});
            	return false;
            });
    </script>*@
}
