@model VetClinicACorreia.Web.Models.DoctorViewModel

@{
    ViewData["Title"] = "Create";
}
    <section>
        <div style="margin:auto; width:800px; height:300px">
            <br />
            <br />
            <br />

            <h4>New Doctor</h4>
            <hr />
            <form asp-action="Create" enctype="multipart/form-data">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="row">

                            <div class="col-sm-6">
                                <!-- text input -->
                                <div class="form-group">
                                    <label asp-for="FirstName" class="control-label"></label>
                                    <input asp-for="FirstName" class="form-control" placeholder="Enter First Name" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="LastName" class="control-label"></label>
                                    <input asp-for="LastName" class="form-control" placeholder="Enter Last Name" type="text" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <!-- text input -->
                                <div class="form-group">
                                    <label asp-for="Username" class="control-label"></label>
                                    <input asp-for="Username" class="form-control" placeholder="Enter Email" type="email" />
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="Password" class="control-label"></label>
                                    <input asp-for="Password" class="form-control" placeholder="Enter Password" type="password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <!-- text input -->
                                <div class="form-group">
                                    <label asp-for="ProfissionalLicence" class="control-label"></label>
                                    <input asp-for="ProfissionalLicence" class="form-control" placeholder="Enter Profissional Licence" type="number" />
                                    <span asp-validation-for="ProfissionalLicence" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="Confirm" class="control-label"></label>
                                    <input asp-for="Confirm" class="form-control" placeholder="Confirm Password" type="password" />
                                    <span asp-validation-for="Confirm" class="text-danger"></span>
                                </div>
                            </div>
                            @if (Model.ImageUrl == "image")
                            {
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label asp-for="ImageFile" class="control-label"></label>
                                        <img src="~/images/Doctors/doctor1.jpg"
                                             class="rounded-circle"
                                             height="40" width="40"
                                             asp-append-version="true" />
                                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                                    </div>
                                </div>

                            }
                            else
                            {
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label asp-for="ImageFile" class="control-label"></label>
                                        <input asp-for="ImageFile" class="form-control" type="file" />
                                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                                    </div>
                                </div>
                            }

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="TIN" class="control-label"></label>
                                    <input asp-for="TIN" class="form-control" type="number" />
                                    <span asp-validation-for="TIN" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <!-- text input -->
                                <div class="form-group">
                                    <label asp-for="Mobile" class="control-label"></label>
                                    <input asp-for="Mobile" class="form-control" type="number" />
                                    <span asp-validation-for="Mobile" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <br />
                                        <label>
                                            <input asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <!-- text input -->
                                <div class="form-group">
                                    <label asp-for="Remarks" class="control-label"></label>
                                    <input asp-for="Remarks" class="form-control" placeholder="Enter Remarks" />
                                    <span asp-validation-for="Remarks" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <br />
                                <input type="submit" value="Create" class="btn btn-success" />
                            </div>
                            <div class="form-group">
                                <br />
                                <a asp-action="Index" class="btn btn-primary">Back to List</a>
                            </div>

                        </div>
                        <div class="text-success">
                            <p>
                                @ViewBag.Message
                            </p>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}