@model VetClinicACorreia.Web.Data.Entities.ContactForm

                <section class="" id="contact-section">
                    <div class="container">
                        <div class="row no-gutters">
                            <div class="col-lg-6 bg-primary">
                                <form method="post" class="p-5 contact-form">
                                    <div asp-validation-summary="ModelOnly"></div>
                                  

                                        <h2 class="h4 mb-5 heading">Contact Form</h2>

                                        <div class="row form-group">
                                            <div class="col-md-6 mb-3 mb-md-0">
                                                <label for="fname">First Name</label>
                                                <input asp-for="FirstName" class="form-control" type="text"/>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="lname">Last Name</label>
                                                <input asp-for="LastName" class="form-control" type="text"/>
                                            </div>
                                        </div>

                                        <div class="row form-group">

                                            <div class="col-md-12">
                                                <label for="email">Email</label>
                                                <input asp-for="Email" class="form-control" type="email"/>
                                            </div>
                                        </div>

                                        <div class="row form-group">

                                            <div class="col-md-12">
                                                <label for="subject">Subject</label>
                                                <input asp-for="Subject" class="form-control" type="text" />
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-12">
                                                <label for="message">Message</label>
                                                <textarea asp-for="Message" class="form-control" type="email" cols="30" rows="7" placeholder="Write your notes or questions here..."></textarea>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-12">

                                                <input type="submit" value="Send Message" class="btn btn-dark btn-md text-white">
                                            </div>
                                        </div>


                                    </form>
                            </div>
                            <div class="col-lg-6 bg-secondary">
                                <div class="row justify-content-center align-items-center h-100">
                                    <div class="col-lg-6 text-center heading-section mb-5 align-self-center">
                                        <div class="paws">
                                            <span class="icon-paw"></span>
                                        </div>
                                        <h2 class="text-white mb-5">Contact Us</h2>
                                        <ul class="list-unstyled text-left address">
                                            <li>
                                                <span class="d-block">Address:</span>
                                                <p>Jau Street, Class 3.07</p>
                                                <p>Lisbon, Portugal</p>
                                            </li>
                                            <li>
                                                <span class="d-block">Phone:</span>
                                                <p>+(351) 913 4567 89</p>
                                            </li>
                                            <li>
                                                <span class="d-block">Email:</span>
                                                <p>yourvet.info@gmail.com</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>