@{
    ViewData["Title"] = "Error 404";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] Your Vet </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <environment include="Development">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700, 900|Vollkorn:400i" rel="stylesheet">
        <link rel="stylesheet" href="~/frontend/fonts/icomoon/style.css">

        <link rel="stylesheet" href="~/frontend/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/frontend/css/jquery-ui.css">
        <link rel="stylesheet" href="~/frontend/css/owl.carousel.min.css">
        <link rel="stylesheet" href="~/frontend/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="~/frontend/css/owl.theme.default.min.css">

        <link rel="stylesheet" href="~/frontend/css/jquery.fancybox.min.css">
        <link rel="stylesheet" href="~/frontend/css/bootstrap-datepicker.css">
        <link rel="stylesheet" href="~/frontend/fonts/flaticon/font/flaticon.css">
        <link rel="stylesheet" href="~/frontend/css/aos.css">
        <link rel="stylesheet" href="~/frontend/css/style.css">
    </environment>
    <environment exclude="Development">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700, 900|Vollkorn:400i" rel="stylesheet">
        <link rel="stylesheet" href="~/frontend/fonts/icomoon/style.css" />

        <link rel="stylesheet" href="~/frontend/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/frontend/css/jquery-ui.css">
        <link rel="stylesheet" href="~/frontend/css/owl.carousel.min.css">
        <link rel="stylesheet" href="~/frontend/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="~/frontend/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="~/frontend/css/jquery.fancybox.min.css">
        <link rel="stylesheet" href="~/frontend/css/bootstrap-datepicker.css">
        <link rel="stylesheet" href="~/frontend/fonts/flaticon/font/flaticon.css">
        <link rel="stylesheet" href="~/frontend/css/aos.css">
        <link rel="stylesheet" href="~/frontend/css/style.css">
    </environment>
    <style>
        /*======================
               404 page
        =======================*/

        .page_404 {
            padding: 40px 0;
            background: #fff;
            font-family: 'Arvo', serif;
        }

        .page_404 img {
            width: 100%;
        }

        .four_zero_four_bg {
            background-image: url(https://cdn.playbuzz.com/cdn/c2cd219d-6113-43ff-a42f-9abb7b180926/c6a459c4-a8be-4f62-86fe-b6d313745b79.gif);
            background-repeat: no-repeat;
            height: 400px;
            background-position: center;
        }

        .four_zero_four_bg h1 {
            font-size: 80px;
        }

        .four_zero_four_bg h3 {
            font-size: 80px;
        }

        .link_404 {
            color: #fff !important;
            padding: 10px 20px;
            background: #39ac31;
            margin: 20px 0;
            display: inline-block;
        }

        .contant_box_404 {
            margin-top: -50px;
        }
    </style>
</head>
<body>
    <section class="page_404">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="col-sm-10 col-sm-offset-1  text-center">
                        <div class="four_zero_four_bg">
                            <br />
                            <h1 class="text-center ">
                                404
                            </h1>
                        </div>
                        
                        <div class="contant_box_404">
                            <br />
                            <h3 class="h2">
                                Look like you're lost
                            </h3>

                            <p>the page you are looking for not avaible!</p>

                            <a href="home" class="link_404">Go to Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>

