<!doctype html>
<html lang="en">
<head>

</head>
<body>
    <section class="site-blocks-cover overflow-hidden bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-7 align-self-center text-center text-md-left">
                    <div class="intro-text">
                        <h1>We Care For <span class="d-md-block">Your Pet</span></h1>
                        <p class="mb-4">We always try to provide your pet the best<span class="d-block" /> services.</p>
                        <br />
                        <h5> <a asp-area="" asp-controller="Account" asp-action="Login" class="nav-link">Schedule Appointment</a></h5>
                    </div>
                </div>
                <div class="col-md-5 align-self-end text-center text-md-right">
                    <img src="~/frontend/images/dogger_img_1.png" alt="Image" class="img-fluid cover-img">
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container" >
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                        <p class="copyright" style="">
                            <small>

                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | TPSI - CET46 <i class="icon-heart text-danger" aria-hidden="true"></i> made by <a href="https://cinel.pt" target="_blank">Andreia Correia</a>

                            </small>
                        </p>
                    </div>
            </div>
        </div>
    </footer>

    @*<footer class="site-footer" >
            <div class="container" style="height:5px">
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <div class="border-top pt-10">
                            <p class="copyright">
                                <small>

                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved | TPSI - CET46 <i class="icon-heart text-danger" aria-hidden="true"></i> made by <a href="https://cinel.pt" target="_blank">Andreia Correia</a>

                                </small>
                            </p>

                        </div>
                    </div>

                </div>
            </div>
        </footer>*@
</body>
</html>
