    <section class="site-section " id="services-section">
        <div class="container">
            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-lg-6 text-center heading-section mb-5">
                    <div class="paws">
                        <span class="icon-paw"></span>
                    </div>
                    <h2 class="text-black mb-2">Our Services</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">

                    <div class="block_service">
                        <img src="~/frontend/images/dogger_checkup.svg" alt="Image mb-5">
                        <h3>Dog Checkup</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                    </div>

                </div>
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="block_service">
                        <img src="~/frontend/images/dogger_dermatology.svg" alt="Image mb-5">
                        <h3>Dog Dermatology</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                    </div>
                </div>
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="block_service">
                        <img src="~/frontend/images/dogger_bones.svg" alt="Image mb-5">
                        <h3>For Strong Teeth</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                    </div>
                </div>


                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">

                    <div class="block_service">
                        <img src="~/frontend/images/dogger_veterinary.svg" alt="Image mb-5">
                        <h3>Dog First Aid</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                    </div>

                </div>
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="block_service">
                        <img src="~/frontend/images/dogger_dryer.svg" alt="Image mb-5">
                        <h3>Dog Dryer</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                    </div>
                </div>
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="block_service">
                        <img src="~/frontend/images/dogger_veterinarian.svg" alt="Image mb-5">
                        <h3>Expert Veterinarian</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
