@using Syncfusion.EJ2.Schedule

<section>

    <div style="margin:auto; width:1200px; height:300px">
        <br />
        <br />
        <br />
        <br />
        <ejs-schedule id="schedule" height="550" selectedDate="new DateTime(2020, 9, 01)">
            <e-schedule-eventsettings dataSource="@ViewBag.appointments"></e-schedule-eventsettings>
        </ejs-schedule>
    </div>

</section>
