@model VetClinicACorreia.Web.Models.AppointmentViewModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" asp-items="Model.Customers" class="form-control"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PetId" class="control-label"></label>
                <select asp-for="PetId" asp-items="Model.Pets" class="form-control"></select>
                <span asp-validation-for="PetId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DoctorId" class="control-label"></label>
                <select asp-for="DoctorId" asp-items="Model.Doctors" class="form-control"></select>
                <span asp-validation-for="DoctorId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AppointmentDate" class="control-label"></label>
                <input asp-for="AppointmentDate" class="form-control" />
                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentHour" class="control-label"></label>
                <input asp-for="AppointmentHour" class="form-control" />
                <span asp-validation-for="AppointmentHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
