@{
    ViewData["Title"] = "Confirm email";
}

<section>
    <div style="margin:auto; width:800px; height:300px">
        <br />
        <br />
        <br />

        <h2>@ViewData["Title"]</h2>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <div>
                    <p>
                        Welcome you are our Customer now!!

                        Thank you for confirming your email. Now you can login into system.

                        Your password is 123456.
                        
                        Please change your password in the first login!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>







