@{
    ViewData["Title"] = "Confirm email";
}

<section>
    <div style="margin:auto; width:800px; height:300px">
        <br />
        <br />
        <br />

        <h2>@ViewData["Title"]</h2>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <div>
                    <h2>Email Confirmation</h2>
                    <br />
                    <p>
                        Welcome, you are our Customer now!!
                    </p>
                    <p>
                        Thank you for confirming your email. Now you can login into system.
                    </p>
                    <p>
                        Your password is <strong>123456</strong>.
                    </p>
                    <p>
                        Please <strong>change your password</strong> in the first login!
                    </p>                     
                </div>
            </div>
        </div>
    </div>
</section>







