@{
    ViewData["Title"] = "Impossible delete this Country now!";
}
<section>
    <div class="login-box" style="margin:auto; width:800px; height:300px">
        
        <div>
            <br />
            <br />
            <br />
            <h2>Country with city or cities can not by deleted!</h2>
            <br />
            <h3>First you may delete the city or cities inside the country!</h3>
        </div>

    </div>
</section>



